body {
    background-color: beige;
    
}

:root {
    --primary-color : #e05a17;
    --secondary-color : #FF3300;
}

.container {
    margin: 30px 30px;
}

.navbar {
    margin: 50px 0;
    position: fixed ;
}

.navbar a {
    color: var(--primary-color);
    font-weight: bold;
}

.navbar a:hover {
    background-color: var(--primary-color);
    color: white;
}

.btn {
   margin: 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px black;
}


@media (max-width: 900px) {
    body {
        background-color: black;
    }
}

h1 {
    text-align: center;
    margin-bottom: 30px!important;
}

h1 , h3 {
    color: var(--secondary-color);
    font-family: Caprasimo;
}

.paragraph {
    color: var(--primary-color);
    font-size: medium;
    font-family: monospace;
    font-weight: bold;
    
}

.ingredients {
    margin: 40px 0 15px 20px;

}

.list {
    font-size: medium;
    color: var(--primary-color);
    font-family: monospace;
    line-height: 1.8;
    font-weight: bold;
        
}

footer .contact-links a {
    margin: 0 20px;
    color: black;
    background-color: var(--primary-color);
    font-size: 20px;
    border-radius: 50%;
    padding: 10px 14px;
    transition: all 100ms ease-in-out;
}

footer .contact-links a:hover {
    color: white;
    background: var(--secondary-color);
}