body {
    background-color: beige;
}

.container {
    margin: 30px auto;
}

h1 {
    color: darkgoldenrod;
    text-align: center;
    font-weight: 900!important;
}

h1 , h3 {
    font-family: poppins;
}

h3 {
    color: darkgoldenrod;
    font-weight: 900!important;
}

.paragraph {
    color: coral;
    font-size: medium;
    
}
