body {
    background-color: #fa8585;
    
}   

.container {
    margin: 30px 30px;
}

.navbar {
    margin: 50px 0;
}

.navbar a {
    color: #CC6633;
}

.btn {
   margin: 10px;
   box-shadow: 2px 2px 2px black;
}

h1 {
    text-align: center;
    margin-bottom: 30px!important;
}

h1 , h3 {
    color: #FF3300;
    font-family: Cherry Bomb One;
}

.paragraph {
    color: #CC6633;
    font-size: medium;
    font-family: poppins;
    
}

.ingredients {
    margin: 40px 0 15px 20px;

}

.list {
    font-size: medium;
    color: #FFCC99;
        
}
